@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-h1: #F0F1FE;
    --font-all: 'Cairo', sans-serif;
}
