@import url("./Index.css");

body{
    font-family: var(--font-all);
    color: var(--color-h1);
    height: 1vh;
    background-image: url('../images/Background-game.jpg');
}
h1{
    margin-top: 1%;
    font-family: var(--font-all);
    color: var(--color-h1);
    position: relative;
    text-align: center;
}
p{
    text-align: center;
}

.btn{
    margin: 1%;
    text-decoration: none;
    text-align: center;
    width: 10%;
    border: 1px solid white; 
    padding: 10px;
    border-radius: 20px;
    color: #040938;
    background-color: var(--color-h1);
}
hr{
    margin: 0 35%;
}
#test{
    display: grid;
    justify-content: center;
}
.game-inside{
    box-shadow: 10px 5px 5px black;;
    border: 2px solid black;
    width: 450px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(20, 20px [row-start]);
    justify-content: center;
    animation: rotation 12s infinite linear;
    
    
}
.black-square{
    background-image: url("../images/tree-solid.svg");
    background-size: 19px;
}
.map{
    background-color: var (--color-h1);
}
.coin{
    background-image: url("../images/bitcoin-brands.svg");
    background-color: gold;
    animation: rotation 3s infinite linear;
    border-radius: 40%;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.player{
    background-image: url("../images/android-brands.svg");
    background-color: gold;
    border-radius: 50%;
}
.end{
    background-image: url("../images/sign-out-alt-solid.svg");
    background-size: 19.6px;
}
#print-btc{
    font-size: 20px;
    text-align: center;
}
#print-time{
    font-size: 24px;
    margin-top: 2%;
    display: grid;
    justify-content: center;
}